<div class="grid-container">
  <!-- <h1 class="mat-h1">Dashboard</h1> -->
  <mat-grid-list cols="1" rowHeight="540"> 
    <mat-grid-tile >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
         
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="card-image">
            <img src="../../assets/cover2.jpg" alt="">
          </div>
          <div class="card-text">
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="200">
    <mat-grid-tile>
      <div class="dashboard-scard-container">
        <mat-card class="dashboard-scard" style="width: 300px;">
          <mat-card-header>
            <mat-card-title>
              Our Employees
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-scard-content">
            <div class="card-image">
              <!-- <img src="../../assets/cover2.jpg" alt=""> -->
            </div>
            <div class="card-text">
              <h1>{{emp}}</h1>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <div class="dashboard-card-scontainer">
        <mat-card class="dashboard-scard" style="width: 300px; text-align: center;">
          <mat-card-header>
            <mat-card-title style="align-content: center;">
              Our Departments
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-scard-content">
            <div class="card-image">
              <!-- <img src="../../assets/cover2.jpg" alt=""> -->
            </div>
            <div class="card-text">
              <h1>{{dep}}</h1>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
