<!-- <p>add-vacation works!</p> -->
<div *ngIf="loading;" class="d-flex mt-5 justify-content-center">
    <mat-spinner></mat-spinner>
  </div>

  <div class="mat-elevation-z8" *ngIf="!loading;">
      <table mat-table [dataSource]="dataSource" >
  
         <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let element">{{element.employeeId.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let element">{{element.employeeId.lastName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="reasonForVacation">
          <th mat-header-cell *matHeaderCellDef> reasonForVacation </th>
          <td mat-cell *matCellDef="let element"> {{element.reasonForVacation}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Day">
          <th mat-header-cell *matHeaderCellDef> Day </th>
          <td mat-cell *matCellDef="let element"> {{element.Day | date}} </td>
        </ng-container>
  
        <ng-container matColumnDef="totalCasDays">
          <th mat-header-cell *matHeaderCellDef>  Casual Days </th>
          <td mat-cell *matCellDef="let element"> {{element.totalCasDays }} </td>
        </ng-container>
  
         <ng-container matColumnDef="casualVacation">
          <th mat-header-cell *matHeaderCellDef> Total Casual Vacations </th>
          <td mat-cell *matCellDef="let element"> {{element.casualVacation}} </td>
         </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[10]"  [pageSize]="pageSize" [length]="totalCount" (page)="onPageChanged($event)" style="display: none;"></mat-paginator>
  
      <button mat-icon-button (click)="onPreviousPage()" [disabled]="currentPageIndex === 0" style="margin-right: 1%;">
        <img src="../../../assets/previous.png">
        </button>
     Page {{currentPageIndex}}
         <button mat-icon-button (click)="onNextPage()" [disabled]="currentPageIndex==totalPages">
  <img src="../../../assets/next.png">
         </button>
  </div>