<mat-sidenav-container class="sidenav-container" *ngIf="user">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item.routeName">
        <fa-icon [icon]="item.icon" class="menu-icon" style="color:#89a7ca;font-size:20px;"></fa-icon>
        {{item.name | titlecase}} </a>
      <a [routerLink]='["/Messages"]' class="notification" (click)='toggleMessageBadgeVisibility()'>
        <span><fa-icon [icon]="faEnvelope" class=" menu-icon" style="color:#89a7ca;font-size:20px;"></fa-icon> Messages</span>
        <span class="badge" *ngIf="messageNotifications"> New</span>
      </a>
      <p>
        <a [routerLink]='["/Announcements"]' class="notification" (click)='toggleAnnouncementBadgeVisibility()'>
          <span><fa-icon [icon]="faBullhorn" class=" menu-icon" style="color:#89a7ca;font-size:20px;"></fa-icon> Announcements</span>
          <div class="badge" *ngIf="announcementNotifications" >New</div>
        </a>
    </p>
      <a  mat-list-item (click)="logout()"><fa-icon [icon]="faSignOutAlt" class=" menu-icon" style="color:#89a7ca;font-size:20px;"></fa-icon> Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #89a7ca; color: white;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>employeeXpert</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

