<form [formGroup]="employeeForm" novalidate (ngSubmit)="onSubmit(employeeForm)">
  <mat-card class="employee-card">
    <mat-card-header>
      <mat-card-title class="mb-5">Edit Employee Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="d-flex flex-column align-items-center mb-2">
        <div class="p-2">
          <img [src]="employeeData.pImage" (click)="pImage.click()" [width]="150" [height]="150" class="rounded-3">
          <input
          name="pImage"
          #pImage
          (change)="onFileSelect($event)"
          type="file"
          style="display: none"
          accept="image/*"
        />
        </div>
        <h3 class="text-success fw-bold">Click on Image to change profile picture</h3>
        <div class="p-2 text-success" *ngIf="uploadStatus">
          <mat-hint>Uploded successfuly</mat-hint>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="firstName" [(ngModel)]="employeeData.firstName">
            <div *ngIf="employeeForm.get('firstName')?.errors != null && employeeForm.get('firstName')?.touched">
              <mat-error *ngIf="employeeForm.get('firstName')?.hasError('required')">First Name is required</mat-error>
              <mat-error *ngIf="employeeForm.get('firstName')?.hasError('minlength')">First Name must be at least 3 characters</mat-error>
              <mat-error *ngIf="employeeForm.get('firstName')?.hasError('maxlength')">First Name must be less than 15 characters</mat-error>
              <mat-error *ngIf="employeeForm.get('firstName')?.hasError('pattern')">First Name must contain only alphabetic characters</mat-error>
            </div>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastName" [(ngModel)]="employeeData.lastName">
            <div *ngIf="employeeForm.get('lastName')?.errors != null && employeeForm.get('lastName')?.touched">
              <mat-error *ngIf="employeeForm.get('lastName')?.hasError('required')">Last Name is required</mat-error>
              <mat-error *ngIf="employeeForm.get('lastName')?.hasError('minlength')">Last Name must be at least 3 characters</mat-error>
              <mat-error *ngIf="employeeForm.get('lastName')?.hasError('maxlength')">Last Name must be less than 15 characters</mat-error>
              <mat-error *ngIf="employeeForm.get('lastName')?.hasError('pattern')">Last Name must contain only alphabetic characters</mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
          <mat-form-field class="col-6">
            <mat-label>Choose a Date of Birth</mat-label>
            <input matInput [matDatepicker]="DOB_picker" formControlName="DOB" [(ngModel)]="employeeData.DOB">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="DOB_picker"></mat-datepicker-toggle>
            <mat-datepicker #DOB_picker></mat-datepicker>
            <div *ngIf="employeeForm.get('DOB')?.errors != null && employeeForm.get('DOB')?.touched">
              <mat-error *ngIf="employeeForm.get('DOB')?.hasError('required')">Date of Birth is required</mat-error>
              <mat-error *ngIf="employeeForm.get('DOB')?.hasError('isUnder18')">Employee must be at least 18 years old</mat-error>
            </div>
          </mat-form-field>
        <div class="col-6">
          <mat-radio-group formControlName="gender" [(ngModel)]="employeeData.gender">
            <mat-label>Choose Gender</mat-label>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Position" formControlName="position" [(ngModel)]="employeeData.position">
            <div *ngIf="employeeForm.get('position')?.errors != null && employeeForm.get('position')?.touched">
              <mat-error *ngIf="employeeForm.get('position')?.hasError('required')">Position is required</mat-error>
              <mat-error *ngIf="employeeForm.get('position')?.hasError('minlength')">Position must be at least 2 characters</mat-error>
              <mat-error *ngIf="employeeForm.get('position')?.hasError('maxlength')">Position must be less than 50 characters</mat-error>
              <mat-error *ngIf="employeeForm.get('position')?.hasError('pattern')">Position cannot contain numbers</mat-error>
              </div>
          </mat-form-field>
        </div>

          <mat-form-field class="col-3">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="hireDate" [(ngModel)]="employeeData.hireDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
              <div *ngIf="employeeForm.get('hireData')?.errors != null && employeeForm.get('hireData')?.touched">
                <mat-error *ngIf="employeeForm.get('hireData')?.hasError('required')">Year is required</mat-error>
                <mat-error *ngIf="employeeForm.get('hireData')?.hasError('min')">Hire Data must be at least 1970</mat-error>
                <mat-error *ngIf="employeeForm.get('hireData')?.hasError('max')">hire Data must be a valid past year </mat-error>
              </div>
          </mat-form-field>
          <mat-form-field class="col-3">
            <mat-select  formControlName="jobType" placeholder="Please select job type" [(ngModel)]="employeeData.jobType">
              <mat-option value="full-time">Full-time</mat-option>
              <mat-option value="part-time">Part-time</mat-option>
            </mat-select>
            <div *ngIf="employeeForm.get('jobType')?.errors != null && employeeForm.get('jobType')?.touched">
            <mat-error *ngIf="employeeForm.get('jobType')?.hasError('required')">Job type is required</mat-error>
          </div>
          </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #nationalID placeholder="National ID" formControlName="nationalId" [(ngModel)]="employeeData.nationalId">
            <mat-hint align="end">{{nationalID.value.length}} / 14</mat-hint>
            <div *ngIf="employeeForm.get('nationalId')?.errors != null && employeeForm.get('nationalId')?.touched">
              <mat-error *ngIf="employeeForm.get('nationalId')?.hasError('required')">National ID is required</mat-error>
              <mat-error *ngIf="employeeForm.get('nationalId')?.hasError('pattern')">Invalid Egyptian national ID number</mat-error>
          </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field class="full-width">
            <input matInput #salary min="3500" max="200000" placeholder="Salary" type="number" formControlName="salary" [(ngModel)]="employeeData.salary">
            <mat-hint align="end">{{salary.value}} / 200000</mat-hint>
            <div *ngIf="employeeForm.get('salary')?.errors != null && employeeForm.get('salary')?.touched">
              <mat-error *ngIf="employeeForm.get('salary')?.hasError('required')">Salary is required</mat-error>
              <mat-error *ngIf="employeeForm.get('salary')?.hasError('min')">Salary must be at least 3500</mat-error>
              <mat-error *ngIf="employeeForm.get('salary')?.hasError('max')">Salary must be less than 200000</mat-error>
            </div>
          </mat-form-field>
        </div>
          <mat-form-field class="col-6">
            <mat-select  formControlName="depId" placeholder="Please select Department ID" [(ngModel)]="employeeData.depId._id">
              <mat-option *ngFor="let dep of departments" value={{dep._id}}>{{dep.name}}</mat-option>
            </mat-select>
            <div *ngIf="employeeForm.get('depId')?.errors != null && employeeForm.get('depId')?.touched">
              <mat-error *ngIf="employeeForm.get('depId')?.hasError('required')">Department ID is required</mat-error>
            </div>
          </mat-form-field>
      </div>
      <div class="row" formGroupName="academicQualifications">
        <h3 class="m-2">Academic Qualification </h3>
        <div class="col-3">
          <mat-form-field class="full-width">
            <input matInput placeholder="College" formControlName="college" [(ngModel)]="employeeData.academicQualifications.college">
            <div *ngIf="employeeForm.get('academicQualifications.college')?.errors != null && employeeForm.get('academicQualifications.college')?.touched">
              <mat-error *ngIf="employeeForm.get('academicQualifications.college')?.hasError('required')">College name is required</mat-error>
              <mat-error *ngIf="employeeForm.get('academicQualifications.college')?.hasError('minlength')">College name must be at least 2 characters</mat-error>
              <mat-error *ngIf="employeeForm.get('academicQualifications.college')?.hasError('maxlength')">College name must be less than 60 characters</mat-error>
              <mat-error *ngIf="employeeForm.get('academicQualifications.college')?.hasError('pattern')">College name cannot contain numbers</mat-error>
            </div>
          </mat-form-field>
        </div>
        <mat-form-field class="col-3">
          <mat-select formControlName="degree" placeholder="Please Select a degree" [(ngModel)]="employeeData.academicQualifications.degree">
            <mat-option value="bachelor">Bachelor</mat-option>
            <mat-option value="master">Master</mat-option>
            <mat-option value="doctoral">Doctoral</mat-option>
            <mat-option value="phd">PhD</mat-option>
          </mat-select>
          <div *ngIf="employeeForm.get('academicQualifications.degree')?.errors != null && employeeForm.get('academicQualifications.degree')?.touched">
            <mat-error *ngIf="employeeForm.get('academicQualifications.degree')?.hasError('required')">Degree is required</mat-error>
          </div>
        </mat-form-field>
        <div class="col-3">
          <mat-form-field class="full-width">
            <input matInput placeholder="Institution" formControlName="institution" [(ngModel)]="employeeData.academicQualifications.institution">
            <div *ngIf="employeeForm.get('academicQualifications.institution')?.errors != null && employeeForm.get('academicQualifications.institution')?.touched">
              <mat-error *ngIf="employeeForm.get('academicQualifications.institution')?.hasError('required')">Institution is required</mat-error>
              <mat-error *ngIf="employeeForm.get('academicQualifications.institution')?.hasError('minlength')">Institution must be at least 2 characters</mat-error>
              <mat-error *ngIf="employeeForm.get('academicQualifications.institution')?.hasError('maxlength')">Institution must be less than 50 characters</mat-error>
              <mat-error *ngIf="employeeForm.get('academicQualifications.institution')?.hasError('pattern')">Institution cannot contain numbers</mat-error>
            </div>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Graduation Year" formControlName="year" min="1900" title="Please enter a valid year (e.g., 1999)" [(ngModel)]="employeeData.academicQualifications.year">
          <div *ngIf="employeeForm.get('academicQualifications.year')?.errors != null && employeeForm.get('academicQualifications.year')?.touched">
            <mat-error *ngIf="employeeForm.get('academicQualifications.year')?.hasError('required')">Year is required</mat-error>
            <mat-error *ngIf="employeeForm.get('academicQualifications.year')?.hasError('min')">Graduation Year must be at least 1970</mat-error>
            <mat-error *ngIf="employeeForm.get('academicQualifications.year')?.hasError('max')">Graduation Year must be a valid past year </mat-error>
          </div>
        </mat-form-field>
        </div>

    </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput #phoneNumber  placeholder="Phone number" type="text" formControlName="phoneNumber" [(ngModel)]="employeeData.phoneNumber">
          <mat-hint align="end">{{phoneNumber.value}} / 11</mat-hint>
          <div *ngIf="employeeForm.get('phoneNumber')?.errors != null && employeeForm.get('phoneNumber')?.touched">
            <mat-error *ngIf="employeeForm.get('phoneNumber')?.hasError('required')">Phone number is required</mat-error>
            <mat-error *ngIf="employeeForm.get('phoneNumber')?.hasError('pattern')">Invalid Egyptian phone number</mat-error>
          </div>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Address" formControlName="address" [(ngModel)]="employeeData.address"></textarea>
          <div *ngIf="employeeForm?.get('address')?.errors != null && employeeForm.get('address')?.touched">
            <mat-error *ngIf="employeeForm?.get('address')?.hasError('required')">Address is required</mat-error>
            <mat-error *ngIf="employeeForm?.get('address')?.hasError('minlength')">Address must be at least 5 characters</mat-error>
            <mat-error *ngIf="employeeForm?.get('address')?.hasError('maxlength')">Address must be less than 150 characters</mat-error>
            <mat-error *ngIf="employeeForm?.get('address')?.hasError('pattern')">Address must contain at least one alphabetic character</mat-error>
            </div>
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!employeeForm.valid">Submit</button>

    </mat-card-actions>
  </mat-card>
</form>
