<div class="d-flex justify-content-end m-5">
  <button class="btn btn-primary" [routerLink]="['/addEmployee']">
    Add New Department
  </button>
</div>
<div class="m-5">
<div class="d-flex justify-content-end m-3">
  <mat-form-field >
    <mat-label>Search on Employee</mat-label>
    <input matInput placeholder="Ex. Software Engineer" [(ngModel)]="filterValue" (keyup)="applyFilter()">
  </mat-form-field>
</div>
  <table mat-table [dataSource]="dataSource" matSort class="container col-7">
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef class="table-header"> ID </th>
      <td mat-cell *matCellDef="let element"> {{ element._id }} </td>
    </ng-container>
    <ng-container matColumnDef="pImage">
      <th mat-header-cell *matHeaderCellDef> Employee Profile </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.pImage" alt="" class="profile-image" [width]="110"[height]="100">
      </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef class="table-header"> first name </th>
      <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Last name </th>
      <td mat-cell *matCellDef="let element"> {{ element.lastName }} </td>
    </ng-container>
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Username  </th>
      <td mat-cell *matCellDef="let element"> {{ element.userName  }} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="table-header"> email  </th>
      <td mat-cell *matCellDef="let element"> {{ element.email  }} </td>
    </ng-container>
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="table-header"> position  </th>
      <td mat-cell *matCellDef="let element"> {{ element.position  }} </td>
    </ng-container>
    <ng-container matColumnDef="jobType">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Job Type  </th>
      <td mat-cell *matCellDef="let element"> {{ element.jobType  }} </td>
    </ng-container>
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Phone Number  </th>
      <td mat-cell *matCellDef="let element"> {{ element.phoneNumber  }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="table-header"> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="gotoEmpDetails(element._id)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="gotoUpdateEmp(element._id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteEmployee(element._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row class="table-header-row" *matHeaderRowDef="['_id', 'pImage', 'firstName', 'lastName', 'userName', 'email', 'position', 'jobType', 'phoneNumber', 'actions']"></tr>
    <tr mat-row class="table-row" *matRowDef="let row; columns: ['_id', 'pImage', 'firstName', 'lastName', 'userName', 'email', 'position', 'jobType', 'phoneNumber', 'actions'];"></tr>
  </table>
  <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20 ]"  showFirstLastButtons></mat-paginator>
</div>
